<span class="img-wrapper">
  <img src="{{author.profile_img_url}}"></img>
</span>
<span class="content">
  <span class="delete-post"></span>
  <span class="user-info">
    <span class="author-name">{{author.name}}</span>
    <span class="author-qualification">{{author.qualification}}</span>
  </span>
  <p>{{content}}</p>
  <span class="meta">
    <span class="timestamp" title="{{pretty_date create_time}}">
      <a href="./{{id}}">{{time_ago create_time}}</a>
    </span>
    <span class="middot">&middot;</span>
    <span class="reply-link" data-href="reply/{{id}}">Reply</span>
    <span class="reply-form hidden">
      <form class="reply">
        <textarea></textarea>
        <button type="submit">Submit</button>
      </form>
    </span>
  </span>
</span>
<div class="children"></div>
